body {
}


@media screen and (min-width: 360px) and (max-width: 809px){
  /* The device with borders */
.device {
  position: relative;
  width: 360px;
  height: 50vh;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 0px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.device:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.device:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.device .content {
  width: 360px;
  height: 640px;
  background: white;
}
}

@media screen and (min-width:810px) and (max-width: 1335px) {
/* The device with borders */
.device {
  position: relative;
  width: 768px;
  height: 50vh;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 0px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.device:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.device:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.device .content {
  width: 768px;
  height: 1024px;
  background: white;
  margin: -1px;
}
}



/*adaptación para banner*/
.device {
  border-bottom-left-radius: 0px; 
  border-bottom-right-radius: 0px;

}

.device:before {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.device:after {
  width: 0px;
}

.device .content {
  width: 0px;
}