// nav style //
nav a {
  text-transform: uppercase;
  font-weight: 500;
}

//queries etc//
.is-hidden {
  display: none;
}
@media screen and (max-width: 768px) {
  #menu-toggle:checked + .nav-menu {
    display: block;
  }
}
.nav-toggle {
  font-size: 3.25rem;
  align-items: center;
  display: flex;
  padding-right: 0.75rem;
}
@media (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle:hover {
  cursor: pointer;
}
.nav-item {
  align-items: center;
  display: flex;
  padding: 0.25rem 0.5rem;
}
.nav-left, .nav-right {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.nav-left {
  justify-content: flex-start;
}
.nav-right {
  justify-content: center;
}
@media (max-width: 768px) {
  .nav-menu.nav-right {
    display: none;
    left: 0;
    right: 0;
    top: 100%;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
  }
  .nav-menu.nav-right .nav-item {
    border-top: 1px solid rgba(219, 219, 219, 0.5);
    padding: 0.75rem;
  }
}
.nav {
  display: flex;
  align-items: stretch;
  background-image: linear-gradient(to bottom left, white, #ddd);
  min-height: 3.25rem;
  position: relative;
  
}

.nav a {
  text-decoration: underline;
}

@media screen and (min-width: 769px) {

.nav a {
  text-decoration: none;
}

.nav .nav-left {
  display: none;
}
}