// nav style //
nav a {
  text-transform: uppercase;
  font-weight: 500;
}

nav img {
  width: auto;
  height: 1.3rem;
  background-image: none;
  padding: 1rem 0px;
}

//queries etc//
.is-hidden {
    display: none;
}

nav i,.nav-right.nav-menu i {
  font-size: 1.5rem
}

nav i {
  fill:$primary;
}

.nav-right.nav-menu i {
  color:$background;
}
@media screen and (max-width: $hasta-m) {
  #menu-toggle:checked + .nav-menu {
    display: block;
    text-align: center;
  }
}
.nav-toggle {
  font-size: 3.25rem;
  align-items: center;
  display: flex;
  padding-right: 5%;
}
.nav-item:after {
    content: '\a';
    white-space: pre;
}
@media (min-width: $desde-ml) {
  .nav-toggle {
    display: none;
  }
}
.nav-toggle:hover {
  cursor: pointer;
}
.nav-item {
  align-items: center;
  padding: 0.3rem 0.5rem;
}
.nav-left, .nav-right {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 3rem 0px;
}
.nav-left {
  justify-content: flex-start;
  visibility: hidden;
}

.nav-left a {
  font-size: 1rem;
  padding: 0px;
}

.nav-right {
  justify-content: center;
}
@media (max-width: 768px) {
      .nav-menu.nav-right {
        display: none;
        left: 0;
        right: 0;
        position: absolute;
        background-color: $primary;
        box-shadow: 0 4px 7px rgba(10, 10, 10, 0.1);
        padding-top:7.3rem;
        padding-bottom: 2.5rem;
        transition-property: all;
      }
      .nav-menu.nav-right .nav-item {
        padding: 0.75rem;
      }

      .nav a {
      font-weight: 600;
      font-size: 1.3rem;
      color: $background;

    }

      .nav-right {
        padding-top: 0px;
        padding-bottom:1rem;
        line-height: 3.5rem;
      }

}
.nav {
  display: flex;
  align-items: stretch;
  background-color: $header;
  min-height: 3.25rem;
  position: relative;
  
}



@media screen and (min-width: 769px) {

.nav a {
  text-decoration: none;
  font-size: 0.7rem;
  color:$primary;

}

.nav .nav-left {
  display: none;
}


}