html {
    font-size: 16px;
}

body {
    font-family: $font;
    background-color: $deep-background;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    background-color: $header;
}

button {
    background-color: $secondary;
    color: $primary;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    cursor:pointer;

}

img {
    background-color: $background;
}

button:hover {
    background-color: $primary;
    color: $background;
    transition: all;

}

button.about {
    background-color: $primary;
    color: $background;
    border:solid;
    border-color: $background;
    border-width: 1rem 0px 0px;
}

button.about:hover {
    background-color: $secondary;
    color: $primary;
}


h1 {
    font-size: 2.8rem;
    font-weight: 500;
}

.responsive {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2rem 0px 1.3rem;
}

footer {
    padding:6rem 10% 8rem;
    background-color: $primary;
    text-align: center;
}

footer h1 {
    color:$background;
}

@media screen and (min-width: $desde-ml) {
    html {
        font-size: 18px;
    }

    h2 {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: $hasta-xxs) {
    html {
        font-size: 14px
    }
}
