//font//
$font:    'Raleway', Helvetica, sans-serif;
//colors//
$primary: black;
$secondary: yellow;
$background: white;
$header: lavender;
$deep-background: floralwhite;
//screens brakepoints//
$hasta-xxs: 23rem;
$hasta-s: calc(38rem - 1px);
$desde-m: 38em;
$hasta-m: calc(48rem - 1px);
$desde-ml: 48em;
$hasta-ml: calc(64rem - 1px);
$desde-l: 65rem;